
Euphoria.xcodeproj/project.xcworkspace/xcuserdata/stephane.xcuserdatad/UserInterfaceState.xcuserstate

Euphoria.xcodeproj/xcuserdata/stephane.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Euphoria.xcodeproj/xcuserdata/stephane.xcuserdatad/xcschemes/xcschememanagement.plist

Euphoria.xcodeproj/xcuserdata/stephane.xcuserdatad/xcschemes/Euphoria.xcscheme
